<!-- <div class="container"> -->
  <h1> <%= @list.name %></h1>
  <p>Use this page to edit your list.  If you click one of the X's, you'll delete a clue.  If you click a pencil, you'll get a form to edit a clue.  You can also add clues at the bottom.
  <div class="names-locations">
    <h3>Edit List Info</h3>
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <div id="list-title">
          Title: <%=@list.name %>
        </div>
        <div id="list-location">
          Location: <%=@list.location %>
        </div>
      </div>
      <div class="panel-body">
        <div class= "icon">
          <div id= "edit-list-icon"><%= image_tag("edit.png")%></div>
        </div>
      </div>
      <div id="edit-lists-form-wrapper" class="hidden">
        <%= form_tag("/list/#{@list.id}", method: "post", id:"edit-lists-form") do %>
          <%= hidden_field_tag "list_id", "#{@list.id}" %>
          <%= text_field_tag(:name, nil, value: @list.name) %><br>
          <%= text_field_tag(:location, nil, value: @list.location) %><br>
          <%= submit_tag("Update", class: "btn btn-small btn-primary") %>
        <% end %>
      </div>
    </div>
  </div>


<!--  STYLING - Please note that any styling that happens below also has to happen on the javascript pages.-->
<h3>Edit Clues For This List</h3>

<div id="clue-list">
  <% if @list.clues.length>0 %>
    <%= render partial:"clues/all_clues" %>
  <% end %>
</div>


<h3>Add A Clue</h3>

<!--  STYLING - Please note that any styling that happens below also has to happen on the javascript pages.-->

<div id="add-clue-wrapper">
  <div id="current_form">
    <!-- <div id="new-clue-form"> -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Use the form below to create a new clue.  You can choose to have us locate your clue based on your current location or to input an address.
        </div>
        <div class="panel-body">
          <%= form_tag("lists/#{@list.id}/clues", method: "post", id:"new-clue-form") do %>
            <%= text_area_tag(:text, nil, placeholder: 'Your Question', class: "form-control") %><br>
            <%= text_field_tag(:answer, nil, placeholder: 'Enter Answer', class: "form-control") %><br>
            <%= hidden_field_tag "list_id", "#{@list.id}" %>
            <%= hidden_field_tag "longitude" %>
            <%= hidden_field_tag "latitude" %>
            <div id="new-clue-address-form">
              <button id="toggle-address" class="btn btn-small btn-primary">Let me input an address.</button>
            </div>
            <div id="submit-new-clue-form">
              <button id="new-clue-form-submit-button" class="btn btn-small btn-primary">Create my clue!</button>
              <button id="new-from-address-submit-button" class="hidden btn btn-small btn-primary">Create my clue!</button>'
            </div>
        </div>
        <% end %>
    </div>
  <!-- </div> -->

  <div id="new-clue-submit" >
    <%= link_to "Return Home", "/", method:"get", class: "btn btn-small btn-success" %>
  </div>


</div>
