<div id="all-clues">
  <% @list.clues.each do |clue| %>
    <div class= "clue-wrapper" id= <%="clue-#{clue.id}" %>>
      <div class="clue-info">
        <div class="hidden clue-id"><%= "#{clue.id}" %></div>
        <div class="hidden list-id"><%= "#{clue.list.id}" %></div>
        <div class='clue-text'><%= clue.text %></div>
        <div class='clue-answer'><%= clue.answer %></div>
      </div>
      <div class= "icons">
        <div class= "edit"><%= image_tag("edit.png")%></div>
        <div class= "delete"><%= image_tag("delete.png")%></div>
      </div>
      <div class= "edit_clue">
        Edit your clue using the form below.
        <%= form_tag("/list/#{@list.id}/clues", method: "post", class:"edit-clue-form") do %>
          <%= text_field_tag(:text, nil, value: clue.text) %><br>
          <%= text_field_tag(:answer, nil, value: clue.answer) %><br>
          <%= submit_tag("Submit Clue", class: "btn btn-small btn-success") %>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
