<div id="question">
  <%= @clue.text %>
</div>
<%= form_tag(validate_answer_path, method: "post") do %>
  <%= text_field_tag(:answer) %>
  <%= hidden_field_tag "longitude" %>
  <%= hidden_field_tag "latitude" %>
  <%= submit_tag("Your Answer", id: "answer-button", class: "btn btn-small btn-success") %>
<% end %>
