<div id="question">
  <%= @clue.text %>
</div>

<div>
  <%= form_tag(validate_answer_path, id: "clue-answer-form", method: "post") do %>
    <%= text_field_tag(:answer) %>
    <%= hidden_field_tag "longitude" %>
    <%= hidden_field_tag "latitude" %>
    <%= submit_tag("Your Answer", id: "answer-button", class: "btn btn-small btn-success") %>
  <% end %>
</div>

<div class="skip-button">
  <% if @clue.last_clue? %>
    <p>This is your last clue.</p>
    <%= form_tag(validate_answer_path, id: "skip-form", method: "post") do %>
      <%= hidden_field_tag "reset_clue_id", "true" %>
      <%= submit_tag("Skip", id: "skip-last-clue", class: "btn btn-small btn-success") %>
    <% end %>
  <% else %>
    <% @clue = @clue.next_clue %>
    <%= link_to "Skip", "/lists/#{@clue.list.id}/clues/#{@clue.id}", method:"get", class: "btn btn-lg btn-success" %>
  <% end %>
</div>
