<div class="names-locations">
<p>
Name: <%=@list.name %>
</p>
<p>
  Location: <%=@list.location %>
</p>
</div>

<div class="clue-list">
  <% if @list.clues.length>0 %>
  <%= render partial:"all_clues" %>
  <div id="new-clue-submit" >
    <%= link_to "I'm Done!", "/lists/#{@list}/clues", method:"get", class: "btn btn-small btn-success" %>
  </div>
  <% end %>
</div>
<p>&nbsp;</p>

<div id="new-clue-form">
  <%= render partial: "new" %>
</div>
