<div class="names-locations">
<p>
Name: <%=@list.name %>
</p>
<p>
  Location: <%=@list.location %>
</p>
</div>

<div class="clue-list">
  <ol id="ol-clues">
  <% if @list.clues.length>0 %>
  <%= render partial:"all_clues" %>
  </ol>
  <div id="new-clue-submit" >
    <%= link_to "I'm Done!", "/lists/#{@list}/clues", method:"get", class: "btn btn-white btn-lg" %>
  </div>
  <% end %>
</div>

<%= render partial: 'new_from_address_form' %>
