<div class="names-locations">
<p>
Name: <%=@list.name %>
</p>
<p>
  Location: <%=@list.location %>
</p>
</div>

<div class="clue-list">
  <ol id="ol-clues">
  <% if @list.clues.length>0 %>
  <%= render partial:"all_clues" %>
  </ol>
  <div id="new-clue-submit" >
    <%= link_to "I'm Done!", "/lists/#{@list}/clues", method:"get", class: "btn btn-small btn-success" %>
  </div>
  <% end %>
</div>

<%= form_tag(list_clues_path, method: "post", id:"new-from-address") do %>
  <%= text_area_tag(:text, nil, placeholder: 'Enter your clue here.', required: true) %><br>
  <p>&nbsp;</p>
  <%= text_field_tag(:answer, nil, placeholder: 'Answer', required: true) %><br>
  <p>&nbsp;</p>
  <%= text_field_tag(:street, nil, placeholder: 'Street Address', required: true) %><br>
  <%= text_field_tag(:city, nil, placeholder: 'City', required: true) %><br>
  <%= text_field_tag(:state, nil, placeholder: 'State', required: true, pattern: '[a-zA-z]{2,}') %><br>
  <%= text_field_tag(:zip, nil, placeholder: 'Zip Code', required: true, pattern: '[\d]{5,}') %><br>
  <%= hidden_field_tag "list_id", "#{@list.id}" %>
  <%= hidden_field_tag "longitude" %>
  <%= hidden_field_tag "latitude" %>
  <%= hidden_field_tag "type", "from_address" %>
  <%= submit_tag("Create Clue", id: "create-clue-from-address", class: "btn btn-small btn-success") %>
<% end %>
